@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?akabnr');
  src:  url('fonts/icomoon.eot?akabnr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?akabnr') format('truetype'),
    url('fonts/icomoon.woff?akabnr') format('woff'),
    url('fonts/icomoon.svg?akabnr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bell:before {
  content: "\e900";
}
.icon-bookmark:before {
  content: "\e901";
}
.icon-bookmark-alt:before {
  content: "\e902";
}
.icon-buildings:before {
  content: "\e903";
}
.icon-calendar:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-chevron-up:before {
  content: "\e906";
}
.icon-dollar-circle:before {
  content: "\e907";
}
.icon-download:before {
  content: "\e908";
}
.icon-exit:before {
  content: "\e909";
}
.icon-folder:before {
  content: "\e90a";
}
.icon-folder-open:before {
  content: "\e90b";
}
.icon-line-chart-down:before {
  content: "\e90c";
}
.icon-list-plus:before {
  content: "\e90d";
}
.icon-lock:before {
  content: "\e90e";
}
.icon-package:before {
  content: "\e90f";
}
.icon-pencil:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e911";
}
.icon-share:before {
  content: "\e912";
}
.icon-sort:before {
  content: "\e913";
}
.icon-stats:before {
  content: "\e914";
}
.icon-time:before {
  content: "\e915";
}
.icon-trash:before {
  content: "\e916";
}
.icon-trending-down:before {
  content: "\e917";
}
.icon-trending-up:before {
  content: "\e918";
}
.icon-undo:before {
  content: "\e919";
}
.icon-upload:before {
  content: "\e91a";
}
.icon-user:before {
  content: "\e91b";
}
.icon-wifi-1:before {
  content: "\e91c";
}
.icon-wifi-2:before {
  content: "\e91d";
}
.icon-x:before {
  content: "\e91e";
}
.icon-cart-shoping:before {
  content: "\e91f";
}
.icon-check-list:before {
  content: "\e920";
}
.icon-file:before {
  content: "\e921";
}
.icon-home:before {
  content: "\e922";
}
.icon-integrate:before {
  content: "\e923";
}
.icon-plus-circle:before {
  content: "\e924";
}
.icon-reports:before {
  content: "\e925";
}
.icon-sheet:before {
  content: "\e926";
}
.icon-users:before {
  content: "\e927";
}
