 <!-- ***** Gráfica ***** -->
 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Gráfica</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button class="btn btn-sm btn-outline-secondary" type="button">Compartir</button>
        <button class="btn btn-sm btn-outline-secondary" type="button">Exportar</button>
      </div>
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button"><span data-feather="calendar"></span><span>Esta semana</span></button>
    </div>
  </div>
  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
  <!-- ***** Gáfica ***** -->